doctype
html
 head
  link(rel="stylesheet", href="/main.css")
  title T2G Jobs - Jobs/Internships for Teen Developers
  meta(name='description', content='T2G Jobs is a curated job/internship board specifically for the teen developer community. Apply for an internship now!')
 body
  header
   h1 T2G Jobs
   nav
    a(href='/') Home
    a(href='/about') About
    a(href='/post-job') Post Job
  .content
   != yield
  footer
   p
    | &copy; 2013 Classify Studios. Made by <a href='http://krrishd.github.io' target='_blank'>Krish Dholakiya</a> with <a href='http://harpjs.com' target='_blank'>HarpJS</a>
