doctype
html
 head
  link(rel="stylesheet", href="/main.css")
  title T2G Jobs - Jobs/Internships for Teen Developers
  meta(name='description', content='T2G Jobs is a curated job/internship board specifically for the teen developer community. Apply for an internship now!')
  meta(name="apple-mobile-web-app-capable", content="yes")
  meta(name = "viewport", content = "width = device-width, initial-scale = 1.0")
  link(rel="apple-touch-icon", sizes="72x72", href="http://placehold.it/72x72/FAFAFA/&text=T2G+Jobs")
  link(rel="apple-touch-icon", sizes="114x114", href="http://placehold.it/72x72/FAFAFA/&text=T2G+Jobs")
  link(rel="apple-touch-icon", href="http://placehold.it/57x57/FAFAFA/&text=T2G+Jobs")
  link(rel="apple-touch-startup-image", href="http://placehold.it/320x460/FAFAFA/&text=T2G+Jobs")
  meta(name="HandheldFriendly", content="true")
 body
  header
   h1 T2G Jobs
   nav
    a(href='/') Home
    a(href='/about') About
    a(href='/post-job') Post Job
  .content
   != yield
  footer
   p
    | &copy; 2013 Classify Studios. Made by <a href='http://krrishd.github.io' target='_blank'>Krish Dholakiya</a> with <a href='http://harpjs.com' target='_blank'>HarpJS</a>
