.about
 h1 About Us
 p
  | Teen2Geek is an initiative to create a better teen development community by
  ul
   li providing educational resources to expand knowledge
   li facilitating a social news platform for teen developers similar to <a target='_blank' href='http://news.ycombinator.com/news?ref=teen2geek.com'>HN</a>
   li curating a internship board targeted towards teens
 p
  | T2G Jobs is a place for teen developers to find local and remote internships to participate in,
  |  thus furthering their experience. It is heavily curated, so each and every internship submission is
  |  reviewed for quality and legitimacy by a moderator from Teen2Geek.