h1 Jobs and Internships
.internships(ng-controller='internshipCtrl')
 .internship(ng-repeat='job in jobs' class='{{slug}} {{job.location}}')
  h3.job-name 
   | {{job.name}} - 
   a(href='{{job.site}}') {{job.company}}
  .info
   p.location
    i(class='fa fa-globe')
    | {{job.location}}
   a(href="{{ 'mailto:' + job.contact + '?subject=' + job.name + '%20Inquiry%20-%20T2G' }}")
    i.fa.fa-envelope
    | Apply - {{job.contact}}

