h1 Internships for Teens
.internships(ng-controller='internshipCtrl')
 input(type='text', ng-model='q', placeholder='Search by location or job...')
 .internship(ng-repeat='job in jobs | filter:q' class='{{slug}} {{job.location}}')
  h3.job-name 
   | {{job.name}} - 
   a(href='{{job.site}}') {{job.company}}
  .info
   p.location
    i(class='fa fa-globe')
    | {{job.location}}
   a(href="{{ 'mailto:' + job.contact + '?subject=' + job.name + '%20Inquiry%20-%20T2G' }}")
    i.fa.fa-envelope
    | Apply - {{job.contact}}

