h1 Internships for Teens
.internships(ng-controller='internshipCtrl')
 .internship(ng-repeat='job in jobs | filter:search', class='{{slug}} {{job.lv}}')
  h3.job-name 
   | {{job.name}} - 
   a(href='{{job.site}}') {{job.company}}
  .info
   p.location
    i(class='fa fa-globe')
    | {{job.location}}
   a(href="{{ job.contact != undefined ? 'mailto:' + job.contact : job.site  }}")
    i.fa.fa-envelope
    | Apply

