.post
 h1 Post A Job
 p
  | To post a job, email us at 
  a(href='mailto:hello@teen2geek.com?subject=Job%20Posting&body=Make%20sure%20to%20include%20the%20position,%20the%20location,%20your%20website,%20company%20name,%20and%20your%20email%20address.') hello@teen2geek.com
 p
  | We should be able to get to you after 1-2 business days maximum, after curating your submission. 
  | Make sure to include:
  ul
   li the position
   li the location or whether it is virtual
   li how to contact you
   li your company name
   li a link to your company's site